/.metadata/
/*/*.class
/administrative/
/algorithm/
/asd/
/asdf/
/cdm-medical-yl/
/cdm-medical/
/cdm-mquartz/
/demo/
/eureka-client/
/eureka-server/
/http/
/http2/
/httptest/
/javafx/
/Servers/
/medical/
/socket/
/websocket/
