<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="left" >
		<div id="menu">

			<div id="ensconce">
				<h2>
					<img src="images/show.png" alt=""> 区域规划
				</h2>
			</div>

			<div id="open">
				<div class="navH">
					区域规划 <span><img class="obscure" src="images/obscure.png"
						alt=""></span>
				</div>
				<div class="navBox">
				</div>
			</div>
		</div>
	</div>
</body>
</html>